
@{
    ViewBag.Title = "DbInstanceError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>DbInstanceError</h3>
<br />
<h2>No need to worry, we are experiencing huge traffic now, please visit after some time.</h2>

